.App {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

#__next-prerender-indicator {
  display: none;
}

#menu-toggle:checked + #menu {
  display: block;
}

#audio_home {
  transform: translateY(-40px);
}


.pl-pa-btn {
  transform: translateX(60px);
  z-index: 100;
  opacity: 0.6;
}

.vol-btn {
  transform: translateX(-60px);
  opacity: 0.6;
}

#audio_footer {
  transform: translateY(-130px);
  width: 500px;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {

  #audio_footer {
    transform: translateY(-130px);
    margin-left: 75px;
    width: 500px;
  }

}

@media only screen and (max-width: 640px) {
  #audio_home {
    max-width: 300px;
  }

  .audio-bar-sm {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .pl-pa-btn {
    transform: translateX(40px);
    z-index: 100;
    opacity: 0.6;
  }
  
  .vol-btn {
    transform: translateX(-40px);
    opacity: 0.6;
  }
  
#audio_footer {
  transform: translateY(-70px);
}
}


[type=radio] {
  display: none;
}

#slider {
  height: 70vh;
  width: 40vw;
  margin: 0 auto;
  left: 0%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}


#slider label {
  /* margin: auto; */
  background-color: aliceblue;
  width: 60%;
  height: 110%;
  border-radius: 4px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 25vw;
    height: 550px;
    z-index: 0;
  }
  .next, .prev {
    z-index: 100;
  }

}

@media only screen and (max-width: 640px) {

  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 90vw;
    height: 400px;
    left: 12% !important;
    top: -95px;
    background-color: pink;
  }

}

@media only screen and (max-width: 768px) and (min-width: 640px) {
  #slider {
    height: 40vh;
    justify-content: center;
  }
  #slider label {
    width: 200%;
    height: 600px;
    left: 20% !important;
    top: -95px;
    background-color: pink;
  }

}




#s1:checked~#slide3,
#s2:checked~#slide1,
#s3:checked~#slide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(-50%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(50%, 0, -100px);
}

/* testimonial */

#testimonialSlider {
  height: 30vw;
  width: 60vw;
  margin: 0 auto;
  left: -10%;
  top: 10%;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#testimonialSlider label {
  margin: auto;
  background-color: rgb(248, 248, 248);
  width: 70%;
  height: 400px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 640px) {

  #testimonialSlider label {
    width: 120%;
  }
}



#t1:checked~#testimonialSlide3,
#t2:checked~#testimonialSlide1,
#t3:checked~#testimonialSlide2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(0%, 0, -100px);
}

#t1:checked~#testimonialSlide1,
#t2:checked~#testimonialSlide2,
#t3:checked~#testimonialSlide3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
  transform: translate3d(0, 0, 0);
}

#t1:checked~#testimonialSlide2,
#t2:checked~#testimonialSlide3,
#t3:checked~#testimonialSlide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
  transform: translate3d(0%, 0, -100px);
}